.filterBar_body_row {
  overflow: hidden;
  height: 54px;
  background-color: white;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #d9d9d9;
  img {
    width: 18px;
  }
  display: flex;
  align-items: center;
  .filterBar_items {
    cursor: pointer;
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;

    &:nth-of-type(-n + 2) {
      input[type="date"],
      input[type="time"] {
        &:nth-of-type(-n + 2) {
          flex: 1;

      
          background-color: red;
        }
      }
    }
    & input,
    & select {
      height: 100%;
      border: none;
      outline: none;
    }

    &:nth-of-type(3) {
      input {
        margin-left: 10px;
      }
    }
  }
  .filterBar_items_button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f4ce14;
    color: #2c5c4b;
    flex: 1;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
  }
}

@media screen and (max-width: 800px) {
  .filterBar_body_row {
    img {
      width: 18px;
    }

    .filterBar_items {
      &:nth-of-type(3) {
        img {
          display: none;
        }
      }
    }
    .filterBar_items_button {
      padding: 15px;
      flex: unset;
      p {
        display: none;
      }
    }
  }
}
