@import "../../../assets/styles/global.scss";

.filterBar_body_row_food {
  overflow: hidden;
  height: 54px;
  background-color: white;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #d9d9d9;
  img {
    width: 18px;
  }
  display: flex;
  align-items: center;
  .filterBar_items {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    &:nth-of-type(1) {
      border-right: 1px solid #d9d9d9;
      max-width: 198px;
    }

    &:nth-of-type(2) {
      input {
        width: 100%;
        padding-left: 10px;
      }
    }

    & input,
    & select {
      flex: 1;
      height: 100%;
      border: none;
      outline: none;
    }

    &:nth-of-type(3) {
      input {
        margin-left: 10px;
      }
    }
  }
  .filterBar_items_button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f4ce14;
    color: #2c5c4b;
    flex: 1;
    padding: 10px;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
  }
}

@media screen and (max-width: 800px) {
  .filterBar_body_row_food {
    .filterBar_items {
      &:nth-of-type(1) {
        max-width: 128px;
      }
    }
    .filterBar_items_button {
      padding: 15px;
      p {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $container-xs) {
  .filterBar_body_row_food {
    .filterBar_items {
      &:nth-of-type(1) {
        max-width: 111px;
      }

      padding-left: 10px;
    }
    .filterBar_items_button {
      padding: 15px;
      p {
        display: none;
      }
    }
  }
}
