.filterBar_container {
  padding-top: 15px;
  .filterBar_row {
    .filterBar_header {
      display: flex;
      max-width: 197px;
      height: 44px;
      border-radius: 5px 5px 0px 0px;
      overflow: hidden;
      border: 1px solid #d9d9d9;
      border-bottom: none;
      position: relative;
      background-color: white;
      .filterBar_header_switch_box {
        width: 50%;
        height: 100%;
        background-color: #f4ce14;
        position: absolute;
        z-index: 1;
        transform: translateX(0);
        transition: transform 0.5s ease;
        &.switchActive {
          transform: translateX(100%);
        }
      }
      .filterBar_header_items {
        position: relative;
        z-index: 2;
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding: calc(44px / 4) 0px;
        font-size: 0.9rem;
        transition: all 0.3s ease;
        &:nth-of-type(1) {
          border-right: 1px solid #d9d9d9;
        }
        &:hover {
          color: #2c5c4b;
        }
        &.switchStatus {
          color: #2c5c4b;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .filterBar_container {
    .filterBar_row {
      .filterBar_header {
        .filterBar_header_switch_box {
          &.switchActive {
          }
        }
        .filterBar_header_items {
          &:nth-of-type(1) {
          }
          &:hover {
          }
          &.switchStatus {
          }
        }
      }
    }
  }
}
