@import "../../../../assets/styles/global.scss";

.hero_section_container {
  background-color: #fefcf3;
  .hero_section_row {
    width: 100%;
    max-width: 1440px;
    height: 643px;
    margin: auto;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    .hero_section_left {
      flex: 1;
      .hero_section_left_row {
        .hero_section_left_content {
          max-width: 699px;
          h1 {
            font-size: 5rem;
            span {
              color: #f4ce14;
            }
          }
          .current_branch {
            font-size: 2rem;
            font-weight: bold;
          }
          p {
            margin-top: 10px;
            font-size: 1rem;
          }
        }
        .hero_section_left_search {
          max-width: 800px;
          padding-top: 20px;

          h1 {
            font-size: 1.3rem;
          }
        }
        .hero_section_left_slider_restaurant {
          padding-top: 20px;
          width: 100%;
          max-width: 800px;
        }
      }
    }
    .hero_section_right {
      flex: 1;
      max-width: 570px;
      height: 100%;
      background-color: #fdf5d0;
      background-image: url("../../../../assets/image/lemon.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      .image_container {
        position: relative;

        img {
          &:nth-of-type(1) {
            max-width: 200px;
            border-radius: 10px;
            position: absolute;
            top: 120px;
            right: 70%;
          }
          &:nth-of-type(2) {
            max-width: 200px;
            height: 204px;

            position: absolute;
            top: 50px;
            right: 0;
          }
          &:nth-of-type(3) {
            min-width: 210px;
            height: 277px;
            border-radius: 10px;
            position: absolute;
            top: 320px;
            right: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $container-lg) {
  .hero_section_container {
    .hero_section_row {
      .hero_section_left {
        display: flex;
        align-items: center;
        justify-content: center;

        .hero_section_left_row {
          width: 100%;
          max-width: 1200px;
          padding: 20px 0px;
          .hero_section_left_content {
            max-width: 50%;
          }
          .hero_section_left_search {
            margin: auto;
            max-width: 100%;
          }
          .hero_section_left_slider_restaurant {
            margin: auto;
            max-width: 100%;
          }
        }
      }
      .hero_section_right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $container-md) {
  .hero_section_container {
    .hero_section_row {
      .hero_section_left {
        .hero_section_left_row {
          max-width: 1000px;
          .hero_section_left_content {
            max-width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $container-sm) {
  .hero_section_container {
    .hero_section_row {
      .hero_section_left {
        .hero_section_left_row {
          max-width: 800px;
          .hero_section_left_content {
            max-width: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .hero_section_container {
    .hero_section_row {
      .hero_section_left {
        .hero_section_left_row {
          max-width: 700px;
          .hero_section_left_content {
            max-width: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .hero_section_container {
    .hero_section_row {
      .hero_section_left {
        .hero_section_left_row {
          max-width: 320px !important;
          .hero_section_left_content {
            max-width: 80%;
            h1 {
              font-size: 2rem !important;
            }
            .current_branch {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $container-xs) {
  .hero_section_container {
    .hero_section_row {
      .hero_section_left {
        .hero_section_left_row {
          max-width: 400px;
          .hero_section_left_content {
            max-width: 90%;

            h1 {
              font-size: 3rem;
            }
            .current_branch {
              font-size: 1.3rem;
            }
          }
          .hero_section_left_search {
            h1 {
              font-size: 1rem;
            }
          }
          .hero_section_left_slider_restaurant {
            h1 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
