.congratulations_section_container {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 70px;
  .congratulations_aritcle_container {
    .congratulations_aritcle_container_header {
      img {
        width: 100%;
      }
    }
    .congratulations_aritcle_container_title {
      text-align: center;
      font-size: 2rem;
      img {
        width: 100%;
        max-width: 300px;
        margin: 20px 0px;
        animation: cupAnimation 2s infinite alternate;
      }

      p {
        font-size: 1rem;
      }
      .congratulations_aritcle_container_check {
        max-width: 700px;
        padding: 20px;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
        .congratulations_aritcle_container_message {
          p {
            text-align: left;
            &:not(:first-of-type) {
              padding-top: 20px;
            }
          }
        }
      }
    }

    height: auto;
  }
}

@keyframes cupAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 900px) {
  .congratulations_section_container {
    .congratulations_aritcle_container {
      .congratulations_aritcle_container_title {
        text-align: center;
        font-size: 1rem;
        img {
          width: 100%;
          max-width: 200px;
        
        }
  
        p {
          font-size: 0.8rem;
        }
        .congratulations_aritcle_container_check {
          .congratulations_aritcle_container_message {
          }
        }
      }
    }
  }
}
