.checkout_container {
  .checkout_row {
    .checkout_banner {
      height: 400px;
    }
    .checkout_body {
      max-width: 1440px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      gap: 5px;
      .checkout_article {
        flex: 3;

        padding: 0px 30px;
        box-sizing: border-box;
        h1 {
          padding: 10px;
          text-align: center;
        }
        transition: all 0.4s ease;
      }
      .checkout_aside {
        padding: 17px;
        flex: 2;

        height: 100%;
        border: 2px dashed gainsboro;
        border-radius: 10px;
        transition: all 0.4s ease;
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .checkout_container {
          .checkout_container_header {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid gainsboro;
            .checkout_container_header_restaurant_infor {
              span {
                font-size: 0.8rem;
                color: gray;
                display: flex;
                align-items: center;
                gap: 5px;
                img {
                  max-width: 12px;
                }
              }
            }
            .checkout_container_header_restaurant {
              width: 50px;
              height: 50px;
              overflow: hidden;
              border-radius: 50%;
              img {
                object-fit: cover;
                height: 100%;
              }
            }
          }
          .checkout_container_date_time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            border-bottom: 1px solid gainsboro;
            padding-bottom: 10px;
            span {
              font-size: 0.8rem;
              color: gray;
            }

            .checkout_container_date {
              text-align: left;
            }
            .checkout_container_time {
              text-align: right;
            }
          }
          .checkout_container_seats {
            margin-top: 20px;
            .checkout_container_table_choose {
              position: relative;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .checkout_container_table_breakpoint {
                position: absolute;
                right: 0;
                top: 0;
                text-wrap: nowrap;
                background-color: #eac5c9;
                color: #ff4b2b;
                font-size: 0.7rem;
                padding: 5px;
                box-sizing: border-box;
                border-radius: 5px;
                font-weight: bold;
              }
            }
            .checkout_container_table_choose_items {
              .checkout_container_table_choose_items_list {
                margin-top: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 5px;

                li {
                  &:not(.default_no_selected) {
                    font-weight: bolder;
                    font-size: small;
                    padding: 3px 7px;
                    border-radius: 26px;
                    background-color: rgb(255, 255, 255);
                    overflow: hidden;
                    cursor: pointer;
                  }
                }
                .checkout_container_table_choose_items_list_items_MINI {
                  border: 2px solid #11998e;
                  color: #11998e;
                }
                .checkout_container_table_choose_items_list_items_MEDIUM {
                  border: 2px solid #e19a58;
                  color: #e19a58;
                }
                .checkout_container_table_choose_items_list_items_LARGE {
                  border: 2px solid #f5af19;
                  color: #f5af19;
                }
                .checkout_container_table_choose_items_list_items_VIP {
                  border: 2px solid #c31432;
                  color: #c31432;
                }
              }
            }
          }
          .reversation_fare_details {
            margin-top: 20px;
            .reversation_fare_details_body {
              margin: 5px 0px;
              padding: 10px;
              background-color: rgb(240, 237, 237);
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-left: 2px dashed gray;
              font-weight: 500;
              span {
                font-size: 0.9rem;
              }
              .reversation_fare_details_list {
                display: flex;
                align-items: center;
                gap: 5px;
                li {
                  padding: 5px;
                  font-size: 0.8rem;
                  border-radius: 3px;
                  &:nth-of-type(1) {
                    background-color: #11998e;
                    color: white;
                  }
                  &:nth-of-type(2) {
                    background-color: #e19a58;
                    color: white;
                  }
                  &:nth-of-type(3) {
                    background-color: #f5af19;
                    color: white;
                  }
                  &:nth-of-type(4) {
                    background-color: #c31432;
                    color: white;
                  }
                }
              }
            }
          }
          .checkout_container_total {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: 1.5rem;
              font-weight: bold;
            }
            .checkout_container_total_title {
              span {
                font-size: 0.8rem;
                color: rgb(175, 175, 175);
              }
            }
          }
          .checkout_container_action {
            margin-top: 20px;
            button {
              width: 100%;
              border-radius: 5px;
            }
            span {
              font-size: 0.8rem;
              color: rgb(175, 175, 175);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .checkout_container {
    .checkout_row {
      .checkout_banner {
        height: 400px;
      }
      .checkout_body {
        flex-direction: column-reverse;
        padding: 0px 20px;
        box-sizing: border-box;
        gap: 20px;
        .checkout_article {
          
        }
        .checkout_aside {
        
          .checkout_container {
          }
        }
      }
    }
  }
}
