.revertation_container {
  .revertation_row {
    .revertation_banner {
      height: 400px;
    }
    .revertation_body {
      max-width: 1500px;
      margin: auto;
      height: 100%;
      display: flex;
    
      justify-content: center;
      gap: 10px;
      padding: 20px;
      .revertation_left {
        flex: 2;
        height: 100%;
        text-align: center;
        border: 1px solid gainsboro;
        padding: 20px 0px;
        .revertation_left_map {
          box-sizing: border-box;
          border-radius: 5px;
          display: flex;
          padding: 10px;
          .revertation_left_map_orther {
            border-right: 2px dashed gray;
            padding: 20px;
            img {
              max-width: 30px;
            }
            .revertation_left_map_checkout {
              margin-top: 20px;
            }
          }
          .revertation_left_map_layout {
            width: 100%;
            .revertation_left_map_group {
              text-align: center;
              &:not(:nth-of-type(1)) {
                margin-top: 20px;
              }
              .revertation_left_map_group_items {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .revertation_left_items {
                  cursor: pointer;
                  img {
                    width: 100%;
                    max-width: 65px;
                    filter: invert(78%) brightness(100%) saturate(5000%)
                      hue-rotate(180deg);

                    &.SELECTED {
                      filter: brightness(0) saturate(100%) invert(22%)
                        sepia(99%) saturate(800%) hue-rotate(140deg)
                        brightness(85%) contrast(85%);
                    }
                    &.RESERVED {
                      filter: brightness(0) saturate(100%) invert(15%)
                        sepia(100%) saturate(5000%) hue-rotate(0deg)
                        brightness(90%) contrast(85%);
                      
                    }
                  }
                }
              }
            }
          }
        }
      }
      .revertation_right {
        flex: 1;
        height: 100%;
        padding: 20px;
        border: 1px solid gainsboro;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .revertation_container {
    .revertation_row {
      .revertation_banner {
        height: 300px;
      }
      .revertation_body {
        flex-direction: column;
        align-items: unset;
        gap: 10px;
        .revertation_left {
          .revertation_left_map {
            padding: unset;
          }
        }
        .revertation_right {
        }
      }
    }
  }
}
